body {
  --note-icon-1: url(/assets/books.png);
  --note-icon-2: url(/assets/movie.png);
  --note-icon-3: url(/assets/text.png); }
/***  --note-icon-fallback: url(/img/seedling_1f331.png);
    ***/
    
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
